@model SmartShop.Web.Models.Member.SigninEditModel
    @{ 
        Layout = null;
    }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="~/Content/user/css/mlogin.css" rel="stylesheet" />
    <link href="~/css/alertPopShow.css" rel="stylesheet" />
    <script>
        var win_width = window.innerWidth || document.documentElement.clientWidth;
        win_width = win_width > 750 ? 750 : win_width;
        document.documentElement.style.fontSize = (win_width / 750) * 100 + 'px';
    </script>
</head>
<body>
    <header></header>
    <div class="viewport">
        <form action="/Home/Login" method="post" id="signinForm">
            <div class="inputBig">
                <input type="tel" class="login-input phone" maxlength="11" id="Phone" name="Phone" value="" placeholder="请输入手机号码">
                <button type="button" class="btn2" id="sendCode">获取验证码</button>
                <input type="number" class="login-input code" maxlength="6" id="Code" name="Code" value="" placeholder="请输入验证码">
            </div>
            @*<input type="hidden" id="openId" name="openId" value="@ViewBag.OpenId" />*@
            <input type="hidden" id="callbackUrl" name="callbackUrl" value="@Model.CallbackUrl" />
            <div class="msgbox">
                <label for="Phone" generated="true" class="error"></label>
                <label for="Code" generated="true" class="error"></label>
            </div>
            <button type="submit" class="btn">登录</button>

        </form>
    </div>
    <div style="height:1rem;"></div>
    <div class="footer">
        <div class="copyright"><span></span></div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/alertPopShow.js"></script>
<script src="~/Scripts/custom.js"></script>
<script>
    var validSecond = 0;
    $(document).ready(function () {
        $('.login-input').focus(function () {
            $('header').css('margin-top', '0.1rem');
        });
        $('.btn').click(function () {
            $('header').css('margin-top', '1.5rem');
        });
        $('.login-input').blur(function () {
            //$('header').css('margin-top', '1.5rem');
        });
        var SendCode = $("#sendCode");
        $("#sendCode").on("click", function () {

            $('header').css('margin-top', '1.5rem');
            if ($(this).hasClass("disabled")) return false;
            var btntext = $(this).text().trim();
            if (btntext == "重新获取" || btntext == "获取验证码") {
                $("#sendCode").addClass("active");
                if (validSecond > 0) { return false; }
                var phone = $("#Phone").val();
                var reg = /^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
                if (!reg.test(phone)) {
                    webToast("请输入正确的手机号码");
                }
                validSecond = 60;
                validTime = setInterval(function () {
                    validSecond--;
                    SendCode.text("(" + validSecond + "s)后重新获取");
                    SendCode.addClass('tag');
                    if (validSecond == 0) {
                        SendCode.text("重新获取");
                        SendCode.removeClass('tag');
                        clearInterval(validTime);
                    }
                }, 1000);
                $.ajax({
                    type: "GET",
                    url: "/user/getsignincode",
                    data: { "phone": phone },
                    dataType: "json",
                    success: function (data) {
                        if (data.Code == 0) {
                            webToast("验证码已经发送");

                        }
                        else {
                            alert(data.Message);
                            SendCode.text("重新获取");
                        }
                    }
                })

            }
        });

        jQuery.validator.addMethod("isPhone", function (value, element) {
            var length = value.length;
            var mobile = /^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
            var tel = /^\d{3,4}-?\d{7,9}$/;
            return this.optional(element) || (tel.test(value) || mobile.test(value));

        }, "请填写正确的手机号码");

        jQuery("form").validate({
            highlight: function (element) {
                jQuery(element).addClass('has-error');
            },
            success: function (element) {
                jQuery(element).removeClass('has-error');
            },
            rules: {
                Phone: {
                    required: true,
                    isPhone: true,
                    digits: true
                },
                Code: {
                    required: true
                }
            },
            messages: {
                Phone: {
                    required: "手机号码不能为空.",
                    isPhone: "请填写正确的手机号码.",
                    digits: "请填写手机号"
                },
                Code: {
                    required: "请输入验证码"
                }
            },
            submitHandler: function (form) {
                var param = $('form').serialize();
                $.ajax({
                    url: '/User/CheckIdentity',
                    type: 'post',
                    dataType: 'json',
                    data: param,
                    success: function (result) {
                        if (result.Code == 1) {
                            var callUrl = $('#callbackUrl').val();
                            if (callUrl == '') {
                                callUrl = '/User/Index';
                            }
                            location.href = callUrl;
                        }
                        else {
                            webToast(result.Message);
                        }
                    }
                });
                return false;
            }
        });
    });
</script>
